.hero {
  margin: 1.5rem 0 3.5rem;
}

.hero img {
  height: 328px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.mulan {
  animation-name: mulan;
  animation-duration: 300ms;
  transform: scale(1);
}

.raya {
  animation-name: raya;
  animation-duration: 300ms;
  transform: scale(1);
}

.unidos {
  animation-name: unidos;
  animation-duration: 300ms;
  transform: scale(1);
}

@keyframes mulan {
  0% {
    transform: translate(-1000px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes raya {
  0% {
    transform: translate(-1000px);
  }
  100% {
  }
}

@keyframes unidos {
  0% {
    transform: translate(-1000px);
  }
  100% {
  }
}

.slider-circle {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block-start: 1.5rem;
}

.circle {
  display: block;
  width: 12px;
  height: 12px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: white;
}

.main {
  margin-bottom: 100px;
}

.title-section {
  margin: 0 0 48px 0;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.movie {
  width: 220px;
  position: relative;
  overflow: hidden;
}

.movie img {
  border-radius: 10px;
}

.movie:hover button {
  border: 2px solid blue;
}

.movie h1 {
  margin: 0 0 1rem 0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid #fed941;
  border-top: 2px solid #fed941;
  padding: 13px 1.5rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(0, 0, 0, 0.64);
  color: white;
  position: absolute;
  bottom: 240px;
  left: -2px;
}

.movie button img {
  width: 21px;
  height: 21px;
}

.movie button p {
  margin: 0;
  font: 700 normal 28px/35px var(--fontFamily);
}

@media (max-width: 500px) {
  .hero img {
    height: 180px;
    /* object-fit: cover; */
  }
}
